.cards-wrapper {
  width: calc(100vw - 4rem);
  height: $card-height;
  overflow: scroll;
  margin: 0 2rem;
  border-radius: 10px;
  
  .card {
    height: $card-height;
    width: $card-width;
    position: absolute;
    background-size: 100%;

    @each $suit in $suit-list {
      @each $value in $value-list {
        #{$suit}-#{$value} {
          background-image: url(../assets/cards/#{suit}-#{value}.svg);
        }
      }
    }

    &:hover {
      z-index: 50;
    }
  }

  &.hidden {
    .card {
      background: rgb(0,212,255);
      background: radial-gradient(circle, #00d4ff 0%, #090979 65%, #020024 97%);
      border: 1px solid;
      border-radius: 10px;
    }
  }
}

